{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class = "container-fluid header">
        <h1>Text Summarization</h1>
    </div>

    <div class = "container main">
        <h1 class = "mb-4">Text <span class = "second">summarizer</span> <span class = "desc">(To save your time)</span></h1>

        <a href = "{% url 'summary' %}"><button class = "btn btn-success btn-lg btn-c">Get Started</button></a>
        <a href = "{% url 'learn' %}"><button class = "btn btn-dark btn-lg btn-c">Learn More</button></a>
    </div>

    <footer class="footer fixed-bottom">
            <div class = "container">
                <div class = "row">
                    <div class = "col-12 text-center">
                        <p>Hey, connect with me here</p>
                    </div>
                    <div class = "col-12 text-center">
                        <a class="btn btn-social-icon btn-github" target = "_blank" href="https://github.com/shreenath2001"><i class="fa fa-github"></i></a>
                        <a class="btn btn-social-icon btn-linkedin" target = "_blank" href="https://www.linkedin.com/in/shreenath-bharadwaj-497b40197/"><i class="fa fa-linkedin"></i></a>
                        <a class="btn btn-social-icon btn-twitter" target = "_blank" href="https://twitter.com/ShreenathBhara1"><i class="fa fa-twitter"></i></a>
                    </div>
                    <div class = "col-12 text-center mt-3">
                        <p>© Copyright 2021 Bharadwaj Tech</p>
                    </div>
                </div>
            </div>
    </footer>
{% endblock %}