{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Text Summarizer</title>
        <meta name="description" content="Text Summarization">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Custom stylesheet -->
        <link rel="stylesheet" href="{% static 'css/style.css' %}">

        <!-- Favicon icon -->
        <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon" >
    </head>
    <body>
        
        <h1>Text Summarization</h1>

        <script src="{% static 'js/script.js' %}" async defer></script>
    </body>
</html>