{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class = "container learn">
        <h3>What is Text Summarization?</h3>
        <p>Text summarization refers to the technique of shortening long pieces of text. The intention is to create a coherent and fluent summary having only the main points outlined in the document.</p>
        <p>Automatic text summarization is a common problem in machine learning and natural language processing (NLP).</p>

        <h3>What’s the need for text summarization?</h3>
        <p>Propelled by the modern technological innovations, data is to this century what oil was to the previous one. Today, our world is parachuted by the gathering and dissemination of huge amounts of data.</p>
        <p>In fact, the International Data Corporation (IDC) projects that the total amount of digital data circulating annually around the world would sprout from 4.4 zettabytes in 2013 to hit 180 zettabytes in 2025. That’s a lot of data!</p>
        <p>With such a big amount of data circulating in the digital space, there is need to develop machine learning algorithms that can automatically shorten longer texts and deliver accurate summaries that can fluently pass the intended messages.</p>
        <p>Furthermore, applying text summarization reduces reading time, accelerates the process of researching for information, and increases the amount of information that can fit in an area.</p>

        <h3>Main approaches to automatic summarization?</h3>
        <p>There are two main types of how to summarize text in NLP:</p>
        <h5>1.Extraction-based summarization</h5>
        <p>The extractive text summarization technique involves pulling keyphrases from the source document and combining them to make a summary. The extraction is made according to the defined metric without making any changes to the texts.</p>
        <h5>2.Abstraction-based summarization</h5>
        <p>The abstraction technique entails paraphrasing and shortening parts of the source document. When abstraction is applied for text summarization in deep learning problems, it can overcome the grammar inconsistencies of the extractive method.</p>

        <h3>Summary</h3>
        <p>Text summarization is an interesting machine learning field that is increasingly gaining traction. As research in this area continues, we can expect to see breakthroughs that will assist in fluently and accurately shortening long text documents.</p>
    </div>
{% endblock %}