*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(153, 0, 255);
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Viaoda Libre', cursive;
    height: 10vh;
    background-color: black;
    color: white;
}

.main{
    margin: 20vh;
}

.main h1{
    font-size: 48px;
    color: rgba(245, 245, 245, 0.979);
}

.second{
    color: yellow;
}

.desc{
    font-size: 24px;
    color: black;
}

.btn-c:hover{
    background-color: white;
    color: rgb(39, 56, 4);
}

.rawtext{
    border: 2px solid white;
    background-color: #1f0a0a;
    margin: 5px;
    padding: 10px;
    font-size: 20px;
    color: white;
    box-shadow: 1px 1px 1px 1px white;
}

.rawtext:hover{
    border: 2px solid #56d805;
    color:  #56d805;
    box-shadow: 1px 1px 1px 1px #56d805;
}

#file{
    display: none;
}

img {
    width: 250px;
    border-radius: 5%;
}

.image-text {
    border: 3px solid goldenrod;
    background-color: rgb(223, 28, 14);
    border-radius: 5%;
    padding: 15px 10px;
    color: white;
}

#classify {
    margin: auto;
    display: none;
}

.footer {
    width: 100%;
    background-color: rgb(153, 0, 255);
    color: white;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}

.learn{
    margin-top: 10vh;
}

.learn h3{
    font-size: 48px;
}

.learn p{
    font-size: 24px;
    color: white;
}